.info-panel {
  border-left: 4px solid #ffcd11;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 300px;
  background: #252b32;
  color: #e7e7e7;
  z-index: 5000;

  .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .owner-name {
    padding: 1rem 0.5rem 0.5rem 0.5rem;
    color: #e7e7e7;
    text-decoration: underline;
  }

  .last-update {
    padding: 0.5rem;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  table {
    margin-top: 2rem;
    color: #e7e7e7;

    tr {
      padding: 0.3rem;
      display: block;
      border-bottom: 1px solid #7a7a7a;
    }

    th {
      width: 120px;
      text-align: left;
      vertical-align: top;
    }
  }
}
